* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: #ced3df;
    text-align: center;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.list {
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 14px 3px 28px 0px rgba(140,137,140,1);
    -moz-box-shadow: 14px 3px 28px 0px rgba(140,137,140,1);
    box-shadow: 14px 3px 28px 0px rgba(140,137,140,1);
}

.header {
    height: 48px;
    padding: 8px;
    font-size: 24px;
    background: rgb(13,0,36);
    background: linear-gradient(90deg, rgba(13,0,36,1) 5%, rgba(121,9,113,1) 55%, rgba(115,0,255,1) 100%);
    border-radius: 20px 20px 0 0;
    color: white;
}

.items {
    height: 500px;
    padding: 0;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}

.item_delete {
    font-size: 16px;
    transition: all 300ms ease-in;
}

.item_delete:hover {
    color: red;
    transform: scale(1.1);
}

.divider {
    width: 90%;
    height: 2px;
    background-color: lightgray;
    margin: auto;
}

.footer {
    background: rgb(13,0,36);
    background: linear-gradient(90deg, rgba(13,0,36,1) 5%, rgba(121,9,113,1) 55%, rgba(115,0,255,1) 100%);
    border-radius: 0 0 20px 20px;
}

.footer_input {
    width: 100%;
    height: 32px;
    outline: none;
    font-size: 20px;
    padding: 0 16px;
}

.footer_button {
    width: 48px;
    height: 48px;
    font-size: 36px;
    transition: all 300ms ease-in;
}

.footer_button:hover {
    transform: scale(1.1);
}